@use '../utility/_index' as utility;
.logo {
  display: flex;
  justify-content: center;
  padding: 1.25rem;
}

.social__container {
  display: flex;
  justify-content: center;
  gap: 1.625rem;
}

.hero-image__wrapper img {
  margin: 0 auto;
  position: relative;
  transform: translateY(-6rem);
}

.hero-image__wrapper picture {
  height: 18.125rem;
}

.hero-text__wrapper h1 {
  margin-top: 2.5rem;
}

.hero-text__wrapper p {
  margin: 1.5rem 1rem;
}

.contact-link::after {
  margin: 0 8rem;
}

.hero__wrapper::after {
  margin: 5rem 1rem 2.5rem 1rem;
}

.skills__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  min-height: 50vh;
}

.projects__wrapper {
  padding-bottom: 4.5rem;
  padding-top: 5rem;
}

.projects__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project__content {
  margin-top: 2.5rem;
}

.projects__gallary {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.project__image {
  margin: 1rem 0;
}

.project__links {
  padding-top: 1.25rem;
}

.bottom__wrapper {
  padding: 3.75rem 1rem;
}

.contact__wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 3.75rem;
}

.contact__header {
  margin-bottom: 3.125rem;
}

.contact__header h1 {
  padding-bottom: 1.25rem;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer h1 {
  padding-bottom: 1.25rem;
}

.name__footer {
  text-decoration-line: none;
}
