@use '../utility/index' as utility;

.form-group {
    margin-bottom: 1rem;
    @include utility.desktop {
        margin-bottom: 2rem;
    }
}

input, textarea {
    background: none;
    border: none;
    border-bottom: solid 0.063rem utility.$white;
    padding: 1rem;
}

input, select, textarea {
    color: utility.$white;
}

textarea {
    resize: none;
}

input:focus,
.message:focus {
    border-color: utility.$green;
    outline: none;    
}

.invisible {
    visibility: hidden;
    display: none;
}

.error-form {
    border-bottom: 0.063rem solid utility.$orange;
    background-image: url(../images/icon-error.svg);
    background-position: 95% center;
    background-size: 1.25rem 1.25rem;
    background-repeat: no-repeat;
    color: transparent;
    outline: none;
    filter: brightness(0) saturate(100%) invert(58%) sepia(49%) saturate(2728%) hue-rotate(324deg) brightness(101%) contrast(101%);
}

.error-message {
    color: utility.$orange;
    text-align: right;
    font-size: 0.75rem;
    padding: .5rem 0 1rem 0;
}

.form__input {
    width: 100%;
    @include utility.tablet {
        width: 100%;
    }
}

.message {
    width: 100%;
}